
.container {
    max-width: 1200px;
    padding: 20px;
}

header {
    text-align: center;
    background-color: #fdf6b2;
    padding: 10px;
    border: 2px solid #ff0000;
    border-radius: 30px;
    background-color: rgb(125, 125, 241);
    display: flex;
    font-size: 26px;
    padding-left: 400px;
}

header p {
    margin: 0;
    color: #ff0000;
}

.animals, .facts, .video, .feedback, .table {
    margin: 20px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
}

.animals h2, .facts h2, .video h2, .feedback h2, .table h2 {
    background-color: #ffff00;
    color: green;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

.images {
    display: flex;
    gap: 10px;
}

.images img {
    width: 48%;
    border-radius: 10px;
}

textarea {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color:rgb(62, 62, 241);
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color:rgb(62, 62, 241);
    width: 90px;   ;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table th, table td {
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

table {
    color: white;
}

table td {
    background-color: #eaf7ea;
}
.vidios{
    width: 100%;
    
}
 iframeb {
    width: 100%;
 }